<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Project</title>
    <style>
        /* Reset some default styles */
        body, h1, h2, p {
            margin: 0;
            padding: 0;
        }

        /* Global styles */
        body {
            font-family: Arial, sans-serif;
            background: rgba(148, 101, 161, 1.0);
            background: linear-gradient(135deg, rgba(148, 101, 161, 1.0), rgba(91, 165, 191, 1.0));
        }


        /* Header styles */
        .header {
            background-color: transparent; /* Make the header transparent */
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        /* Main content styles */
        .content {
            padding: 20px 0;
        }

        p {
            font-size: 18px;
            color: #555;
            line-height: 1.5;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        /* Diagram placeholder styles */
        .diagram-placeholder {
            text-align: center;
            margin-top: 40px;
            /* Add your diagram here using an <img> or <object> tag */
        }
    </style>
</head>

  <div class="content">
        <h1>Welcome to  Project</h1>
        <li>We are Using Jenkins, Docker, and .NET for Web Applications</li>
    
<br>
<br>
            <h2>About This Project</h2>
            <li>This project combines the power of Jenkins, Docker, and ASP.NET Core to build modern web applications efficiently. It follows a CI/CD pipeline to automate the build and deployment process.</li>
<br>
<br>
            <h2>How it works:</h2>
<br>
<p>
            
                <li>We use Jenkins to automate the pipeline.</li>
                <li>Docker is utilized to build and run the .NET web application.</li>
                <li>Git repositories hold the source code, with changes triggering Jenkins pipelines.</li>
                <li>On every change in the repository, we run the pipeline, ensuring continuous integration and deployment.</li>
           
</p>
<br>
<br>
<img src="https://i0.wp.com/roboticseabass.com/wp-content/uploads/2020/05/ci_tools_banner.png?w=840&ssl=1" alt="Parvesh's Image">

<div>
</html>
